In [89]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
    
json_data = ''

with open('yelp_dataset/review.json', 'r', encoding='utf-8') as in_file:
    for i, line in enumerate(in_file):
        if i == 0 and line: 
            json_data += '[' + line
        elif line:
            json_data += ',' + line
        else:
            pass
    json_data += ']\n'

data = json.loads(json_data)
review_df = json_normalize(data)

In [90]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
    
json_data = ''

with open('yelp_dataset/business.json', 'r', encoding='utf-8') as in_file:
    for i, line in enumerate(in_file):
        if i == 0 and line: 
            json_data += '[' + line
        elif line:
            json_data += ',' + line
        else:
            pass
    json_data += ']\n'

data = json.loads(json_data)
df = json_normalize(data)

In [258]:
temp = df.categories.apply(lambda categories: str(categories))
restaurant_df = df[temp.apply(lambda categories: 'Restaurants' in categories)][['categories',"business_id"]]
restaurant_df.head()

,categories,business_id
1,"Specialty Food, Restaurants, Dim Sum, Imported Food, Food, Chinese, Ethnic Food, Seafood",QXAEGFB4oINsVuTFxEYKFQ
2,"Sushi Bars, Restaurants, Japanese",gnKjwL_1w79qoiV3IC_xQQ
11,"Restaurants, Breakfast & Brunch, Mexican, Tacos, Tex-Mex, Fast Food",1Dfx3zM-rW4n-31KeC8sJg
13,"Italian, Restaurants, Pizza, Chicken Wings",fweCYi8FmbJXHCqLnwuk8w
17,"Restaurants, Italian",PZ-LZzSlhSe9utkQYU8pFg

In [259]:
res_review = pd.merge(review_df,restaurant_df,on = 'business_id', how = 'left', sort = False)
res_review=res_review.fillna(0)

In [261]:
res_review.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,categories
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at al...,6,hG7b0MtEbXx5QzbzE6C_VA,0
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,"I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon! I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blo...",0,yXQM5uF2jS6es16SJzNHfg,0
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,"I have to say that this office really has it together, they are so organized and friendly! Dr. J. Phillipp is a great dentist, very friendly and professional. The dental assistants that helped i...",3,n6-Gk65cPZL6Uz8qRm3NYw,0
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,"Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know ...",0,dacAIZ6fTM6mqwW5uxkskg,"Bars, Pubs, Nightlife, Tapas Bars, Restaurants"
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1.0,"Today was my second out of three sessions I had paid for. Although my first session went well, I could tell Meredith had a particular enjoyment for her male clients over her female. However, I ret...",7,ssoyf2_x0EQMed6fgHeMyQ,0

In [262]:
restaurant_r=res_review[res_review.categories!=0]

In [263]:
restaurant_r.shape

(4201684, 10)

In [264]:
restaurant_r.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,categories
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,"Went in for a lunch. Steak sandwich was delicious, and the Caesar salad had an absolutely delicious dressing, with a perfect amount of dressing, and distributed perfectly across each leaf. I know ...",0,dacAIZ6fTM6mqwW5uxkskg,"Bars, Pubs, Nightlife, Tapas Bars, Restaurants"
5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4.0,"I'll be the first to admit that I was not excited about going to La Tavolta. Being a food snob, when a group of friends suggested we go for dinner I looked online at the menu and to me there was n...",0,w31MKYsNFMrjhWxxAb5wIw,"Restaurants, Italian, Pizza"
6,3fw2X5bZYeW9xCz_zGhOHg,5,2016-05-07 01:21:02,4,G7XHMxG0bx9oBJNECG4IFg,3.0,"Tracy dessert had a big name in Hong Kong and the one in First Markham place has been here for many years now! \n\nCame in for some Chinese dessert, and I must say their selection has increased tr...",5,jlu4CztcSxrKx56ba1a5AQ,"Food, Chinese, Restaurants, Desserts"
7,zvO-PJCpNk4fgAVUnExYAA,1,2010-10-05 19:12:35,1,8e9HxxLjjqc9ez5ezzN7iQ,1.0,This place has gone down hill. Clearly they have cut back on staff and food quality\n\nMany of the reviews were written before the menu changed. I've been going for years and the food quality ha...,3,d6xvYpyzcfbF_AZ8vMB7QA,"Sports Bars, Bars, Restaurants, American (New), Nightlife"
10,8mIrX_LrOnAqWsB5JrOojQ,0,2011-11-30 02:11:15,0,kbtscdyz6lvrtGjD1quQTg,4.0,"Like walking back in time, every Saturday morning my sister and I was in a bowling league and after we were done, we'd spend a few quarters playing the pin ball machines until our mother came to p...",0,FIk4lQQu1eTe2EpzQ4xhBA,"Performing Arts, Amusement Parks, Museums, Arcades, Arts & Entertainment, Active Life, Restaurants"

In [60]:
import nltk
from nltk import FreqDist
nltk.download('stopwords') # run this one time

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/fionliang/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [632]:
##extract phrases
import re
import string
char_splitter = re.compile("[.,;!:()-]?")
def generate_candidate_phrases(text, stopwords):
    """ generate phrases using phrase boundary markers """
    text=str(text)
    # generate approximate phrases with punctation
    coarse_candidates = char_splitter.split(text.lower())
 
    candidate_phrases = []
 
    for coarse_phrase\
            in coarse_candidates:
 
        words = re.split("\\s+", coarse_phrase)
        previous_stop = False
 
        # examine each word to determine if it is a phrase boundary marker or part of a phrase or lone ranger
        for w in words:
 
            if w in stopwords and not previous_stop:
                # phrase boundary encountered, so put a hard indicator
                candidate_phrases.append(";")
                previous_stop = True
            elif w not in stopwords and len(w) > 3:
                # keep adding words to list until a phrase boundary is detected
                candidate_phrases.append(w.strip())
                previous_stop = False
 
    # get a list of candidate phrases without boundary demarcation
    phrases = re.split(";+", ' '.join(candidate_phrases))   
    return list(set(phrase_to_counts(phrases)))
 
def phrase_to_counts(phrases):
    """ strip any white space and send back a count of 1"""
    clean_phrases = []

    for p in phrases:
        word = p.strip()
        word=word.translate(str.maketrans('', '', string.punctuation))
        # we only need to count phrases, so ignore unigrams
        if len(word) > 1 and ' ' in word:
            clean_phrases.append(word.replace(" ","_"))
    return clean_phrases

In [597]:
#load stop_words
sp = spacy.load('en') 
stop=(sp.Defaults.stop_words)

In [618]:
test=res_review["text"]
p=[]
for s in test:
    p.append(generate_candidate_phrases(s,stop))

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: split() requires a non-empty pattern match.
  import sys

In [621]:
from gensim.models import Word2Vec
model = gensim.models.Word2Vec(
        p,
        size=100,
        window=10,
        min_count=5,
        workers=10)
model.train(p, total_examples=len(p), epochs=10)

WARNING:gensim.models.base_any2vec:Effective 'alpha' higher than previous training cycles

(412929880, 665051370)

In [624]:
w1=['large_groups']
model.wv.most_similar(w1)

[('larger_groups', 0.7983831167221069),
 ('large_party', 0.7530969381332397),
 ('larger_parties', 0.7497943043708801),
 ('large_parties', 0.7362443208694458),
 ('small_party', 0.7193818688392639),
 ('smaller_group', 0.6971537470817566),
 ('larger_group', 0.6930320262908936),
 ('accommodate_large_groups', 0.684049129486084),
 ('group_larger', 0.6805683970451355),
 ('large_group_people', 0.6674937009811401)]

In [626]:
w1=['highly_recommend']
model.wv.most_similar(w1)

[('absolutely_recommend', 0.6658951044082642),
 ('100_recommend', 0.5650992393493652),
 ('strongly_recommend', 0.5399513840675354),
 ('highly_recommend_going', 0.5207186937332153),
 ('highly_recommend_coming', 0.5160516500473022),
 ('totally_recommend', 0.48273563385009766),
 ('highly_recommend_checking', 0.4705720543861389),
 ('certainly_recommend', 0.4581899642944336),
 ('highly_recomend', 0.45306915044784546),
 ('good_highly_recommend', 0.4509795904159546)]

In [628]:
w1=['feel_comfortable']
model.wv.most_similar(w1)

[('feeling_comfortable', 0.6553308963775635),
 ('extremely_nervous', 0.6514464020729065),
 ('felt_totally', 0.6305466294288635),
 ('felt_cared', 0.6293494701385498),
 ('feel_relaxed', 0.6255077123641968),
 ('hated_going', 0.6236050724983215),
 ('great_listener', 0.6157219409942627),
 ('felt_welcome', 0.6133273839950562),
 ('genuinely_cares', 0.6111847758293152),
 ('feel_calm', 0.609054684638977)]

In [633]:
test1=res_review["text"][res_review.business_id=='ikCg8xy5JIg_NGPx-MSIDA']


p1=[]
for s in test1:
    p1.append(generate_candidate_phrases(s,stop_words))
words=sum(p1,[])

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: split() requires a non-empty pattern match.
  import sys

In [639]:
candidates=[]
for a in words:
    if a in model.wv:
        candidates.append(a)

In [640]:
sim=[[0]*len(candidates) for _ in range(len(candidates))]
for i in range(len(candidates)):
    for j in range(i,len(candidates)):
        d=model.wv.similarity(candidates[i],candidates[j])
        sim[i][j]=d
        sim[j][i]=d
        
sim=np.array(sim)

In [641]:
dis = sim.copy()
dis = 1. - dis

In [672]:
from sklearn.cluster import DBSCAN
key=np.reshape(keys,(1,-1))
db = DBSCAN(metric="precomputed",algorithm="brute",eps=0.5, min_samples=4).fit(dis)
#labels = db.labels_

In [673]:
db.core_sample_indices_

array([ 6,  7,  8,  9, 13, 14, 15, 17, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       41])

In [674]:
for i in db.core_sample_indices_:
    print(candidates[i])

rude_staff
dirtiest_places
health_inspections
management_spend
drink_waitresses
bills_ive
hoarse_voice
five_star
awesome_karaoke
great_neighborhood_staff
sure_looking
expensive_sunglasses
husbands_wallet
rude_staff
dirtiest_places
health_inspections
management_spend
need_something